<!-- Generated template for the FindServiceComponent component -->
<div>
    <p class="find-service">Find a Service</p>

    <div class="all-services">
        <div class="find-services">

            <a class="service-block" href="http://maps.apple.com/?q=dog+park">
                <div class="service"></div>
                Dog Park
            </a>

            <a class="service-block" href="http://maps.apple.com/?q=veterinarian">
                <div class="service"></div>
                Veterinarian
            </a>

            <a class="service-block" href="http://maps.apple.com/?q=dog+friendly+hotel">
                <div class="service"></div>
                Dog-friendly<br> hotel
            </a>
        </div>

        <div class="find-services">

            <a class="service-block" href="http://maps.apple.com/?q=dog+sitter">
                <div class="service"></div>
                Dog Sitter
            </a>

            <a class="service-block" href="http://maps.apple.com/?q=dog+boarding">
                <div class="service"></div>
                Boarding
            </a>

            <a class="service-block" href="http://maps.apple.com/?q=dog+breeder">
                <div class="service"></div>
                Breeder
            </a>

        </div>
    </div>
</div>
