page-alert-affected-litters {

  .checkmark {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #68bf02;
    color: white;
    border-radius: 50%;
  }

}
