<!--
  Generated template for the AddPatientPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar>
        <ion-title>Add Patient</ion-title>

        <ion-buttons start>
            <button ion-button icon-only (click)="viewController.dismiss()">
                Close
            </button>
        </ion-buttons>

    </ion-navbar>

</ion-header>

<ion-content>

    <ion-searchbar #searchField
                   [(ngModel)]="search"
                   (ionInput)="onInput($event)"
                   [debounce]="500">
    </ion-searchbar>


    <ion-list *ngIf="dogs.length !== 0">

        <ion-card *ngFor="let dog of dogs" class="main-dog-card dog-item" (click)="selectDog(dog)">


            <div class="dog-details">

                <img class="dog-image" [src]="dog.pet_profile_pic"/>

                <div class="dog-info">

                    <span class="name">{{dog.name}}</span>
                    <span class="state">{{dog.birthday | birthday}}</span>

                </div>

            </div>

        </ion-card>

    </ion-list>

</ion-content>

