page-add-litter {

  .profile-header {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid grey;

    .profile-image {
      margin-left: 25px;
      border: 1px gray solid;
      width: 70px;
      height: 70px;
      border-radius: 50%;
    }

    .profile-name {
      margin-left: 10px;
      flex-direction: column;

      .name {
        font-size: 20px;
        display: block;
      }
      .state {
        font-style: italic;
        display: block;
      }
    }
  }

  .dog-item {

    display: flex;
    flex-direction: row;
    align-items: center;
    height: 70px;

    .dog-image {
      width: 70px;
      height: 70px;
      border-radius: 50%;
      border: 1px solid gray;
    }

    .dog-info {
      margin-left: 10px;
      flex-direction: column;

      .name {
        font-size: 20px;
        display: block;
      }
      .state {
        font-style: normal;
        display: block;
      }
    }
  }

}
