page-change-password {

  .change-password-button {

    height: 40px !important;
    margin: 0 auto !important;
    width: 100% !important;
    border-radius: 0 !important;
    box-shadow: none !important;

  }
}
