page-messages {

  ion-content {
    background-color: #f2f3f8 !important;
  }

  .main-card {
    margin-left: auto;
    margin-right: auto;
    max-width: 648px;
    max-width: 648px;
  }
  .profile-header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;

    .left {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .right {
      color: grey;
      margin-right: 10px;

    }

    .profile-image {
      border: solid 1px lightgrey;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: white;

    }

    .profile-name {
      margin-left: 10px;
      flex-direction: column;

      .name {
        font-size: 18px;
        display: block;
      }
      .handle {
        color: grey;
        display: block;
      }
    }
  }
}
