page-paw-posts {

  ion-content {
    background-color: #f2f3f8 !important;
  }

  .main-card {

    max-width: 648px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;

  }
  .profile-header {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 65px;

    .left {
      margin-left: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .right {
      color: grey;
      margin-right: 10px;
    }

    .profile-image {
      img {
        border-radius: 50%;

      }
      border: solid 1px lightgrey;
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    .profile-name {
      margin-left: 10px;
      flex-direction: column;

      .name {
        font-size: 18px;
        display: block;
      }
      .handle {
        color: grey;
        display: block;
      }
    }
  }
  .caption {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    min-height: 30px;
  }
  .comments {

    .profile-header {

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      height: 75px;

      .left {
        margin-left: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .right {
        color: grey;
        margin-right: 10px;

      }

      .profile-image {
        border: solid 1px lightgrey;
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }

      .profile-name {
        margin-left: 10px;
        flex-direction: column;

        .name {
          font-size: 18px;
          display: block;
        }
        .handle {
          color: grey;
          display: block;
        }
      }
    }

    .header {

      justify-content: space-between;
      color: grey;
      margin-left: 10px;
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 50px;
    }

    .view-comments {

      .profile-image {
        border: solid 1px lightgrey;
        width: 20px;
        height: 20px;
        border-radius: 50%;
      }

      .message-left {

        margin-left: 8px;
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        justify-content: start;

        .username {
          margin-left: 5px;
        }

        .message-body {
          border-radius: 10px;
          width: 75%;
          min-height: 40px;
          margin-left: 10px;
          background-color: white;
          margin-bottom: 10px;

        }

        .message-body-image {
          padding: 10px;
          border-radius: 10px;
          width: 75%;
          min-height: 40px;
          margin-left: 10px;

          img {
            object-fit: contain;
            height: 200px;
          }
        }
      }

      .message-box {
        border-top: 1px lightgrey solid;
        flex: 1;
        z-index: 1000;

        display: flex;
        flex-direction: row;
        align-content: center;
        height: 45px;
        background-color: white !important;
        width: 100%;

        ion-textarea {

          padding-left: 5px;
          height: 100%;
          display: flex;
          background-color: #eeeeee !important;
          overflow-y: scroll;

        }

        .send-button {

          box-shadow: none !important;
          height: 100%;
          margin: 0;
          border-radius: 0px;
        }

        .camera-button {

          box-shadow: none;
          height: 50px;
          margin: 0;
          margin-right: 5px !important;
        }
      }

    }

    .heart {
      font-size: 25px;
      color: map_get($colors, primary);
    }
  }

  .text-post {

    padding: 10px;

  }

}

